.divider {
    margin: 25px 25px !important;
}

.div-logo {
    max-width: 100%;
    height: auto;
}

.valuesTip {
    font-size: 15px;
    text-align: center !important;
    margin-top: 30px;
}

.firstTimeAmountCell {
    margin: auto;
}

.myAlert {
    margin-top: 20px;
}

.labelTotalAmountCell {
    font-weight: bold;
    background-color: #31b953;
    color: white;
}

.totalAmountCell {
    background-color: white;
    font-weight: bold;
}

.radioProject {
    margin-left: 0px !important;
}

.myRow {}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 1.75rem;
    float: left;
}